.container{
min-height:100vh;
background:#0f172a;
padding:30px;
color:white;
}

.title{
text-align:center;
font-size:40px;
font-weight:bold;
margin-bottom:40px;
}

.movies-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.movie-card{
background:#1e293b;
border-radius:15px;
overflow:hidden;
box-shadow:0 4px 15px rgba(0,0,0,0.5);
transition:0.3s;
}

.movie-card:hover{
transform:scale(1.03);
}

.movie-image{
width:100%;
height:400px;
object-fit:cover;
}

.movie-content{
padding:20px;
}

.movie-title{
font-size:22px;
font-weight:bold;
margin-bottom:10px;
}

.movie-description{
color:#cbd5e1;
font-size:14px;
line-height:1.5;
}

.loading{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:black;
color:white;
font-size:30px;
}